{% extends "container.html" %}

{% block title %}
FreeJournal
{% endblock %}

{% block container_content %}
<h1>About</h1>
FreeJournal is a system for securely publishing documents to the public, releasing them to minimize risk to the publisher while making the documents difficult to censor, supress, or alter once published. FreeJournal is designed to replace organizations like WikiLeaks with a peer-to-peer, decentralized network that allows any user to publish any content they deem useful or interesting.

FreeJournal runs on the <a href="https://bitmessage.org/wiki/Main_Page">Bitmessage</a>, <a href="https://freenetproject.org/">Freenet</a>, and <a href="https://bitcoin.org/en/">Bitcoin</a> networks, and its source is hosted on Github. Please report any issues, bugs, or unclear documentation you encounter there.
{% endblock %}
