{% extends "container.html" %}

{% block title %}
FreeJournal
{% endblock %}

{% block container_content %}
<h1>Help</h1>
<p>
	FreeJournal is a decentralized system for publishing documents. A document can be any type of file.
	These files are organized in "collections," which group the files under a common title.
</p>
<p>
	Using the FreeJournal web interface is super easy.
	To see available documents in a collection, click the link for that collection.
</p>
<img src="/public/img/help/collection.png" style="display: block; max-width: 600px; width: 100%; margin: 0 auto"/>
<p>
	You can then click a document title to download that document.
</p>
<img src="/public/img/help/document.png" style="display: block; max-width: 150px; width: 100%; margin: 0 auto"/>
<p>
	Sometimes it takes a while for a collection or document to appear on the FreeJournal web interface once it has
	been submitted. Large documents can take an especially long time.
</p>
{% endblock %}
