@import "mixins";
@import "listing";
@import "variables";

body {
  background-color: $background-color;
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.logo {
  margin: 10px;
  max-width: 400px;
  width: 100%;
}
